<div class="container">
  <div id="ride_info">
    <div id="ride_details">
      <h2>Destination: <%= @ride.name %></h2>
      <% if @ride.price_per_rider == 0 %>
        <h4>No one has signed up for this ride.</h4>
      <% else %>
        <h4>Price per person: <%= @ride.price_per_rider %></h4>
      <% end %>
      <h5>Organized by <%= @ride.driver.name %></h5>
      <h5>Leaves at <%= @ride.start_time.strftime("%l:%M %p") %> on <%= @ride.start_time.strftime("%b %d, %Y") %> on and returns at <%= @ride.end_time.strftime("%l:%M %p") %> on <%= @ride.end_time.strftime("%b %d, %Y") %></h5>
    </div>

    <div id="map-canvas">
    </div>
  </div>
  <div class="driver_accepted">
    <div class="table_title"><h4>Invited Riders</h4></div>
    <table class="table">
      <thead>
        <th class='name'>Rider Name</th>
      </thead>
      <tbody class="riders_tbody">
        <% @unaccepted_rides.each do |rider| %>
          <%= render 'rider_row', :rider => rider %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="rider_accepted">
    <div class="table_title"><h4>Accepted Riders</h4></div>
    <table class="table">
      <thead>
        <th class='name'>Rider Name</th>
      </thead>
      <tbody class="riders_tbody">
        <% @unaccepted_riders.each do |rider| %>
          <%= render 'rider_row', :rider => rider %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
